/* displayプロパティのデフォルト値の確認用 */
.r { background-color: pink; }
.g { background-color: palegreen; }
.b { background-color: skyblue; }

/* displayプロパティの変更 */
div.r {
    display: inline;
}
div.g {
    display: inline;
}

/* ボックスモデルの4つの領域 */
.box {
    margin: 50px;
    border: 5px solid pink;
    padding: 50px;
    width: 100px;
    height: 100px;
    background-color: skyblue;
}